<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h2>This is a home page</h2>
    <h3> <%= 942039+32340%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat molestias vel natus accusantium laudantium fugiat necessitatibus ab beatae minima similique, reiciendis incidunt quis sint repudiandae tempore exercitationem eaque possimus unde quibusdam placeat id doloremque.</p>
    <button>click me</button>
</body>
</html>